<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuimini/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form"  lay-filter="formTest" >

    <div class="layui-form-item" style="display: none;">
            <label class="layui-form-label required">Id</label>
            <div class="layui-input-block">
                <input type="text" name="Id" value="" class="layui-input">
            </div>
        </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">账号</label>
        <div class="layui-input-block"> 
            <input type="text" name="Account" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入账号" value="" class="layui-input">
            <tip>填写自己管理账号。</tip>
        </div>
        <label class="layui-form-label required">用户名</label>
        <div class="layui-input-block"> 
            <input type="text" name="UserName" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" value="" class="layui-input">
            <tip>填写自己管理账号的名称。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="Sex" value="男" title="男">
            <input type="radio" name="Sex" value="女" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">手机</label>
        <div class="layui-input-block">
            <input type="number" name="PhoneNum" lay-verify="required" lay-reqtext="手机不能为空" placeholder="请输入手机" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="email" name="Email" placeholder="请输入邮箱" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门</label>
        <div class="layui-input-block">
            <input type="text" name="DepartmentId" placeholder="请输入职业" value="" class="layui-input">
        </div>
    </div>
@*    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
        </div>
    </div*@>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="~/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        
         var form = layui.form,
                layer = layui.layer,
                $ = layui.$;
            var table = layui.table;


        var id = window.location.search.substr(4);
         //console.log(parent.layer.getFrameIndex(window.name));
          //发起异步请求
            $.ajax({
                url: '/Home/GetUserInfoById',
                type: 'get',
                data: {
                    id: id
                },
                success: function (res) {
                    if (res.data != null) {
                        //给表单赋值
                        form.val("formTest", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                            "Id": res.data.id
                            , "Account": res.data.account
                            , "PassWord": res.data.passWord
                            , "UserName": res.data.userName
                            , "PhoneNum": res.data.phoneNum
                            , "Email": res.data.email
                            , "DepartmentId": res.data.departmentId
                            , "Sex": res.data.sex
                        });

                    } else { 
                    
                        layer.msg(res.msg)
                    }
                   
                  
                }
            });
         
        //监听提交
        form.on('submit(saveBtn)', function (data) {
``              

            $.ajax({

                url: "/home/UpdateUserInfo",
                type: "post",
                data: data.field,
                success: function(res) {
                    if (res.ses) {
                        //关闭当前编辑页
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                        //刷新列表
                        parent.table.reload('testReload', {
                            page: {
                                curr: 1
                            }
                            , where: {
                            }
                        }, 'data');

                    } else {
                        layer.msg(res.msg);
                    }



                }

            });

        });

    });
</script>
</body>
</html>