@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">耗材名称</label>
            <div class="layui-input-block">
                <input type="text" name="consumableName" lay-verify="required" lay-reqtext="耗材名称不能为空" placeholder="请输入耗材名称" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">耗材规格</label>
            <div class="layui-input-block">
                <input type="text" name="specification" placeholder="请输入耗材规格" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位</label>
            <div class="layui-input-block">
                <input type="text" name="unit" placeholder="请输入单位" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input type="text" name="money" placeholder="请输入价格" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">警告库存</label>
            <div class="layui-input-block">
                <input type="text" name="warningNum" placeholder="请输入警告库存" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" placeholder="请输入描述" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">耗材类型</label>
            <div class="layui-input-block">
                @*<input type="text" name="CategoryId" placeholder="请输入耗材类型id" value="" class="layui-input">*@
                <select name="CategoryId" id="categorySelect">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
    <script src="../layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$;

            //获取类别下拉选
            $.ajax({
                url: '/ConsumableInfo/GetCategoryOptions',
                type: 'get',
                success: function (res) {
                    if (res.ses) {
                    
                            for (var i = 0; i < res.data.length; i++) {
                                $('#categorySelect').append('<option value="' + res.data[i].id + '">' + res.data[i].categoryName + '</option>');
                            }
                            form.render('select'); //刷新select选择框渲染
                        
                    }
                }
            });


            //监听提交
            form.on('submit(saveBtn)', function (data) {

                console.log(data);

                //发起异步请求
                $.ajax({
                    url: '/ConsumableInfo/AddConsumableInfo',
                    type: 'post',

                    data: data.field,
                    success: function (res) {
                        if (res.ses) {
                            //刷新列表
                            parent.table.reload('currentTableId', {
                                page: {
                                    curr: 1
                                }
                                , where: {
                                }
                            }, 'data');

                            //关闭当前页
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                });


                return false;
            });

        });</script>
</body>
</html>